body {
            background-image: url('./static/images/bg.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
}
.container {
    width: 50%;
}

.search {
    width: 70%;
    position: relative;
    padding: 4px;
    border-radius: 5px;
}

.search input {
    height: 45px;
    border: none;
    width: 80%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid #eee;
}

.search i {
    position: absolute;
    top: 12px;
    left: 5px;
    font-size: 24px;
    color: #eee;
}

.search button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 45px;
    background-color: red;
    color: #fff;
    width: 90px;
    border-radius: 4px;
}

input[type="text"] {
    font-size: 18px;
}

/* Output CSS */


.output {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}

.output p {
    font-size: 20px;
    margin: 10px 0;
}
